:root {
  --default-background: rgb(221, 235, 217, 1);
  --default-border-color: rgba(33, 35, 48, 0.90);
  --default-text-color: rgb(0, 0, 0);
  --dark-text: rgba(255, 255, 255, 0.65);
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --bright-blue: #1677ff;
  --input-background: rgba(255, 255, 255, 0.2);
  --dark-toolbar: #f5f5f5;
  --dark-background: rgb(0 33 64);
  --dark-background-alt: rgb(27 61 93);
  --dark-text: rgba(255, 255, 255, 0.65);
  --dark-toolbar: #f5f5f5;
  --placeholder: rgb(233, 184, 184);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  line-height: 1.5;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

h1 {
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, #445fef, #00008b00) 1;
  font-weight: lighter;
}

[type="checkbox"],
[type="radio"] {
  margin-right: .5em;
}

input {
  cursor: text;
}

label {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lucida Console', 'Courier New', Courier, monospace;
}

h1 { font-size: 1.5em; }
h2 { font-size: 1.4em; }
h3, h4, h5 { font-size: 1.2em; }

/* Hide duplicate Graph */
.x6-graph-grid:first-of-type {
  display: none;
}

/* Set defaults */
.ant-card-body{
  display: flex;
  flex-direction: column;
}

/* Main Window (Left side) */
.main-sider {
  overflow: auto;
  height: 100vh;
  left: 0;
  top: 0;
  bottom: 0;
}

/* Main Window (Right side) */
.scene-box {
  padding: 0.5em;
}
.scene-box .ant-card-body {
  height: calc(100% - 56px);
}

#stageNameInputField {
  margin-right: 0.5em;
}

.graph-editor-field {
  border: 0px;
}
.graph-toolbox, .graph-container, .graph-data-field {
  margin: 0.5em;
}

.graph-toolbox {
  height: 2.5em;
  border-radius: 0.5em;
  border-style: solid;
  padding: 0.25em;
  padding-left: 1em;
  padding-right: 1em;
}

.graph-toolbox-content {
  float: right;
}

.graph-toolbox-content .ant-space-item {
  display: flex;
}

#sceneTags-panel {
  height: 100%;
}

.sceneTags-attribute-card, .furniture-attribute-card {
  margin: .5em;
}
.furniture-attribute-card{
  height: calc(100% - 56px);
}

#sceneTags-panel .ant-card-body{
   height: calc(100% - 164px);
   overflow: auto;
}

.graph-container {
  flex: 1;
  overflow: hidden;
}

#graph {
  flex: 1;
  border-radius: 5px;
  border-style: solid;
}

.graph-data-field {
  border-radius: 5px;
  border-style: solid;
}

.graph-no-scene-placeholder {
  margin: 8px;
  margin-top: 64px;
  margin-bottom: 64px;
  height: calc(100vh - 2 * 64px);
}

.graph-furniture-selection {
  width: 100%;
}

.sidebar-form {
  padding: 7px 11px;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 16px;
  margin-left: 16px;
  width: calc(100% - 36px);
  border: none !important;
}
.sidebar-form:focus{
  border: 2px solid;
}
#sidebar-divider {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, #CCC, transparent);
}
#scenePositions{
  height: 100%;
}
.sceneTagsPositions-card {
  height: calc(100% - 1em);
  margin: 0.5em;  
}

#scenePositions .ant-card-body{
  height: calc(100% - 56px);
  overflow: auto;
}
