.resize-handle {
    width: 4px;
    background-color: #f0f0f0;
    transition: background-color 0.2s;
    position: relative;
    cursor: col-resize;
  }
  .resize-handle-horizontal {
    width: 100%;
    height: 4px;
    background-color: #f0f0f0;
    transition: background-color 0.2s;
    position: relative;
    cursor: row-resize;
  }
  /* Fix to make the hover effect work properly on hover */
  .resize-handle::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Make the hit area larger than the visible handle */
    width: 12px; /* Wider hit area */
    height: 100%;
    /* Center the hit area */
    transform: translateX(-4px);
    z-index: 1;
  }
  .resize-handle-horizontal::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Make the hit area larger than the visible handle */
    width: 100%; /* Wider hit area */
    height: 12px; /* Wider hit area */
    /* Center the hit area */
    transform: translateY(-4px);
    z-index: 1;
  }
  
  .resize-handle:hover,
  .resize-handle:active,
  .resize-handle-horizontal:hover,
  .resize-handle-horizontal:active {
    background-color: #1677ff;
  }
  
  .main-sider {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
  }

  .ant-layout-sider-children {
    display: flex;
    flex-direction: column;
  }
  
  .sider-content {
    flex: 1;
    overflow-y: auto;
  }
  
  .custom-trigger {
    padding: 0 24px;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s;
    color: rgba(255, 255, 255, 0.65);
    text-align: center;
    line-height: 48px;
  }
  
  .custom-trigger:hover {
    color: rgb(255, 255, 255);
  }
  
  .ant-layout-sider-trigger {
    position: relative !important;
  }

  .custom-trigger:active {
    background-color: #1677ff;
    border-radius: 10px;
  }